@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Manage", id="userNameAnchor" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: '/Login/GetName',
            data: { },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                //var JsonObj = $.parseJSON(data);
                document.getElementById('userNameAnchor').innerHTML = "Hello " + data.replace(/['"]+/g, '') + "!";

            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    </script>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
