@model IEnumerable<Knowledgeable.Models.ArticleModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>
<p id="deleted" style="color:red; display:none; text-align:center;">
    Item Deleted
</p>
<p>
    @if (ViewBag.CategoryID == null)
    {
        @Html.ActionLink("Create New", "AddArticle");
    }
    else
    {
        @Html.ActionLink("Create New", "AddArticle", new { id = ViewBag.CategoryID });
        //<a href="/AddArticle/@ViewBag.CategoryID">Create New</a>
    }
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.category).Titled("Category").Sortable(true).Filterable(true);
    columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true).RenderValueAs(model => Html.ActionLink(model.Title, "ViewArticle", new { id = model.ArticleID })).Encoded(false).Sanitized(false); ;
    columns.Add(x => x.DatePosted).Titled("Date Posted").Sortable(true).Filterable(true);
    columns.Add(x=>x.DateModified).Titled("Date Modified").Sortable(true).Filterable(true);
    columns.Add().RenderValueAs(model => Html.ActionLink("Edit", "Edit", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().RenderValueAs(model => Html.ActionLink("Share", "Share", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().RenderValueAs(model => Html.ActionLink("Delete", "Delete", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
}).WithPaging(20)



<div id="dialog-confirm" title="Delete item?">

<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>

</div>

<input type="button" onclick="C_Del('8365C974-8D2A-43F9-B4FA-7B23110BD93F')" value="Delete">


<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>
    function C_Del(id)
    {
        alert(id);
        $("#dialog-confirm").dialog({

            resizable: false,

            height: 140,

            modal: true,

            buttons: {

                "Delete all items": function () {
                    Del(id);
                    $(this).dialog("close");

                },

                Cancel: function () {

                    $(this).dialog("close");

                }

            }

        });


    }

    function Del(id) {
        alert(id);
        $.ajax({
            type: "GET",
            url: '/Article/DelArticle',
            data: {id:id},
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function () {
                document.getElementById('#deleted').style.display = 'block';
                setTimeout(function () { location.reload(); }, 2000);
                
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }
</script>