@model IEnumerable<Knowledgeable.Models.ArticleModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}
<style>
    .link{
        color:#337ab7;
        text-decoration:none;
        font-weight:normal;
        cursor:pointer;
    }
    .link:hover:focus{
        color:#23527c;
        text-decoration:underline;
    }
    .email{
        color: black;
    }
</style>

<h2>Articles</h2>
<p id="deleted" style="color:white; display:none; text-align:center; background-color:red;">
    Item Deleted
</p>
<p>
    @if (ViewBag.CategoryID == null)
    {
        @Html.ActionLink("Create New", "AddArticle");
    }
    else
    {
        @Html.ActionLink("Create New", "AddArticle", new { id = ViewBag.CategoryID });
        //<a href="/AddArticle/@ViewBag.CategoryID">Create New</a>
    }
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.category).Titled("Category").Sortable(true).Filterable(true);
    columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true).RenderValueAs(model => Html.ActionLink(model.Title, "ViewArticle", new { id = model.ArticleID })).Encoded(false).Sanitized(false); ;
    columns.Add(x => x.DatePosted).Titled("Date Posted").Sortable(true).Filterable(true);
    columns.Add(x=>x.DateModified).Titled("Date Modified").Sortable(true).Filterable(true);
    columns.Add().RenderValueAs(model => Html.ActionLink("Edit", "Edit", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().RenderValueAs(model => Html.ActionLink("Share", "Share", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.Label("Delete", new { onclick = "C_Del('" + x.ArticleID + "')" })).Css("link");
}).WithPaging(20)



<div id="dialog-confirm" title="Delete item?">

<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>

</div>

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>




    function Share(id) {
        $(function () {
            $("#dialog-share").dialog({
                autoOpen: false
            });
            $("#button").on("click", function () {
                $("#dialog-share").dialog("open");
            });
        });
        // Validating Form Fields.....
        $("#submit").click(function (e) {
            var email = $("#email").val();
            //var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (email == null) {
                alert("Please enter the email address");
                e.preventDefault();
            } else {
                C_Share(id, email);
            }
        });
    }

    function C_Share(id, email) {
        alert(id);
        $.ajax({
            type: "GET",
            url: '/Article/ShareArticle',
            data: { id: id, email: email },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                if (data != "") {
                    alert(data);
                }
                else {
                    alert('Shared');
                }
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }


    function C_Del(id)
    {
        alert(id);
        $("#dialog-confirm").dialog({

            resizable: false,

            height: 200,

            modal: true,

            buttons: {

                "Delete all items": function () {
                    Del(id);
                    $(this).dialog("close");

                },

                Cancel: function () {

                    $(this).dialog("close");

                }

            }

        });


    }

    function Del(id) {
        alert(id);
        $.ajax({
            type: "GET",
            url: '/Article/DelArticle',
            data: {id:id},
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function () {
                document.getElementById('#deleted').style.display = 'block';
                setTimeout(function () { location.reload(); }, 2000);
                
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }
</script>