@model IEnumerable<Knowledgeable.Models.ArticleModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>

<p>
    @if (ViewBag.CategoryID == null)
    {
        @Html.ActionLink("Create New", "AddArticle");
    }
    else
    {
        @Html.ActionLink("Create New", "AddArticle", new { id = ViewBag.CategoryID });
        //<a href="/AddArticle/@ViewBag.CategoryID">Create New</a>
    }
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.category).Titled("Category").Sortable(true).Filterable(true);
    columns.Add(model => model.Title).Titled("Title").Filterable(true).Sortable(true).RenderValueAs(model => Html.ActionLink(model.Title, "ViewArticle", new { id = model.ArticleID })).Encoded(false).Sanitized(false); ;
    columns.Add(x => x.DatePostedIndex).Titled("Date Posted").Sortable(true).Filterable(true);
    columns.Add(x=>x.DateModIndex).Titled("Date Modified").Sortable(true).Filterable(true);
    columns.Add().RenderValueAs(model => Html.ActionLink("Edit", "Edit", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().RenderValueAs(model => Html.ActionLink("Share", "Share", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
    columns.Add().RenderValueAs(model => Html.ActionLink("Delete", "Delete", "Article", new { id = model.ArticleID }, null)).Encoded(false).Sanitized(false);
}).WithPaging(20)
