@model IEnumerable<Knowledgeable.Models.CategoryModel>

<style>
    .category{
        width:23%;
        height: 100px;
        float:left;
        margin:1%;
        color:white;
        cursor: pointer;
    }
    .category p{
        text-align:center;
        height: 30%;
        margin-top:20%;
        font-size: 25px;
    }
</style>

<div class="category" style="background-color:gold;" onclick="categoryClicked('')">
    <p>
        All
    </p>
</div>

    @foreach (var item in Model)
    {
        <div class="category" style="background-color:#@item.Hex" onclick="categoryClicked('@item.CategoryID')">
            <p>
                @item.Name
            </p>
        </div>
    }


    <script>
        function categoryClicked(id) {

            window.location.href = '/article/index/' + id

        }
    </script>
