@model Knowledgeable.Models.indexCategory

<style>
    .category{
        width:23%;
        height: 100px;
        float:left;
        margin:1%;
        color:white;
        cursor: pointer;
    }
    .category p{
        text-align:center;
        height: 30%;
        margin-top:20%;
        font-size: 25px;
    }
</style>
<div style="overflow:auto;">
    <h4>My Category</h4>
    <hr />
    <div class="category" style="background-color:gold;" onclick="categoryClicked('')">
        <p>
            All
        </p>
    </div>

    @foreach (var item in Model.Category)
    {
        <div class="category" style="background-color:#@item.Hex" onclick="categoryClicked('@item.CategoryID')">
            <p>
                @item.Name
            </p>
        </div>
    }
</div>

<div style="overflow:auto;">
    <h4>Shared</h4>
    <hr />
    @foreach (var item in Model.CategoryShared)
    {
        <div class="category" style="background-color:#@item.Hex" onclick="categoryClicked('@item.CategoryID')">
            <p>
                @item.Name
            </p>
        </div>
    }
</div>



    <script>
        function categoryClicked(id) {

            window.location.href = '/article/index/' + id

        }
    </script>
