@model IEnumerable<Knowledgeable.Models.CategoryModel>

<style>
    .category {
        width: 23%;
        height: 100px;
        float: left;
        margin: 1%;
        color: white;
        cursor: pointer;
    }

        .category p {
            text-align: center;
            height: 30%;
            margin-top: 20%;
            font-size: 25px;
        }
</style>

@foreach (var item in Model)
{
    <div class="category" style="background-color:#@item.Hex" onclick="categoryEditClicked('@item.CategoryID')">
        <p >
            @item.Name
        </p>
    </div>
}


<script>

    function categoryEditClicked(id) {
        window.location.href = '/categories/Edit/' + id
    }

    function categoryClicked(id) {

        window.location.href = '/article/index/' + id

    }
</script>

