@{
    ViewBag.Title = "Index";
}

<h2 id="titleTop">Index</h2>

<p>
    @Html.ActionLink("Create New", "AddCategory")
</p>

<style>
    #CategoryContainer{
        width:75%;
        margin-left:12%;
        margin-right:12%;
        height: 500px;
        background-color: #ebebeb;
        overflow-x:auto;
    }
</style>
<p onclick="edit()" class="btn btn-default" id="editButton">Edit</p>
<div id='loadingmessage' style='display:none'>
    <img src="~/Content/ajax-loader.gif" />
</div>
<div id="CategoryContainer"></div>



<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>
    function spinner() {
        data = "<img src=\"../Content/ajax-loader.gif\" />";
        $("#CategoryContainer").html(data);
    }
    function edit() {
        var value = document.getElementById('editButton').innerHTML;
        if (value == "Edit") {
            spinner()
            $.ajax({
                type: "GET",
                url: '/Categories/LoadEditCategory',
                data: {},
                processdata: true,
                cache: false,
                contentType: "application/html",
                dataType: "html",
                success: function (data) {
                    //var JsonObj = $.parseJSON(data);
                    $("#CategoryContainer").html(data);
                    document.getElementById('editButton').innerHTML = "Cancel";
                    document.getElementById('titleTop').innerHTML = "Edit";

                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                    //var err = eval("(" + xhr.responseText + ")");
                    alert("error");
                },
            });
        }
        else {
            spinner();
            $.ajax({
                type: "GET",
                url: '/Categories/LoadCategory',
                data: {},
                processdata: true,
                cache: false,
                contentType: "application/html",
                dataType: "html",
                success: function (data) {
                    //var JsonObj = $.parseJSON(data);
                    $("#CategoryContainer").html(data);
                    document.getElementById('editButton').innerHTML = "Edit";
                    document.getElementById('titleTop').innerHTML = "Index";

                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                    //var err = eval("(" + xhr.responseText + ")");
                    alert("error");
                },
            });
        }
    }

    spinner();
    $.ajax({
        type: "GET",
        url: '/Categories/LoadCategory',
        data: {},
        processdata: true,
        cache: false,
        contentType: "application/html",
        dataType: "html",
        success: function (data) {
            //var JsonObj = $.parseJSON(data);
            $("#CategoryContainer").html(data);
            $('#loadingmessage').hide();
        },
        error: function (xhr, status, error) {
            //alert(xhr.responseText);
            //var err = eval("(" + xhr.responseText + ")");
            alert("error");
            $('#loadingmessage').hide();
        },
    });
</script>
